
p {
    font-weight: bold;
}
.divTable {
	display: table;
	
}
.divTableRow {
    display: table-row;
}
.divTableCell { 
    border: 2px solid #999999;
    display: table-cell;
    padding: 3px 10px;
    width: 50px;
    height: 50px;
    background-color: forestgreen;
}

.HighTableRow {
	display: table-row;
	border-bottom-style: solid;
	border-bottom-color:black;
		
}
.HighTable {
	display: table;
		
}
.HighTableCell {
	display: table-cell;
	padding: -1px 10px;
	font-size: larger;
	height: 36px;
}
#HighTableHeading {
	font-weight: bold;
	padding-right: 60px;
	font-size: large;
}
#highCell1 {
	width: 50px;
	padding-right: 60px;
}
#highCell2 {
	width: 50px;
	padding-right: 60px;
	}
.HighTableCellPlayer {
	display: table-cell;
	padding: -1px 10px;
	font-size: xx-large;
	font-weight:bold;
	height: 36px;
}